<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section id="main-container" class="main-container">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="error-page text-center">
                        <div class="error-code">
                            <h2><strong>500</strong></h2>
                        </div>
                        <div class="error-message">
                            <h3> Sorry, it's me, not you! </h3>
                        </div>
                        <div class="error-body">
                            <a href="/index" class="btn">Let me try again!</a>
                        </div>
                    </div>
                </div>
            </div><!-- Content row -->
        </div><!-- Container end -->
    </section><!-- Main container end -->

    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>
