<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                    <div class="post">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/blog/blog1.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-body">
                            <div class="post-meta">
                           <span class="post-author">
												<a href="#">BY Admin</a>
											</span>

                                <div class="post-meta-date">
                                    <span class="day">29</span>
                                    <span class="month">October</span>
                                    <span class="year">2018</span>
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">David Malan hopeful of England recall ahead of Test summer</a>
                                </h2>
                            </div><!-- header end -->

                            <div class="entry-content">
                                <p>The Middlesex left-hander, who played the last of his 15 Tests in August 2018,
                                    has excelled in the County Championship this summer with four centuries,
                                    including two in his last three games.
                                </p>
                            </div>

                            <div class="post-footer">
                                <a href="news-single.html" class="btn-link">Read More <i
                                            class="icon icon-arrow-right"></i></a>
                            </div>

                        </div><!-- post-body end -->
                    </div><!-- 1st post end -->
                    <div class="post">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/blog/blog2.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-body">
                            <div class="post-meta">
                           <span class="post-author">
													<a href="#">BY Admin</a>
												</span>

                                <div class="post-meta-date">
                                    <span class="day">29</span>
                                    <span class="month">October</span>
                                    <span class="year">2018</span>
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">Kieran Trippier: Atletico Madrid
                                        agree deal with Tottenham for defender
                                    </a>
                                </h2>
                            </div><!-- header end -->

                            <div class="entry-content">
                                <p>Atletico Madrid have agreed a £21.7m (€24m) deal with
                                    Tottenham to sign Kieran Trippier, Sky Sports News understands.

                                </p>
                            </div>

                            <div class="post-footer">
                                <a href="news-single.html" class="btn-link">Read More <i
                                            class="icon icon-arrow-right"></i></a>
                            </div>

                        </div><!-- post-body end -->
                    </div><!-- 2nd post end -->
                    <div class="post">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/blog/blog3.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-body">
                            <div class="post-meta">
                           <span class="post-author">
														<a href="#">BY Admin</a>
													</span>

                                <div class="post-meta-date">
                                    <span class="day">29</span>
                                    <span class="month">October</span>
                                    <span class="year">2018</span>
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">Joey Barton charged with actual
                                        bodily harm following Barnsley incident
                                    </a>
                                </h2>
                            </div><!-- header end -->

                            <div class="entry-content">
                                <p>Joey Barton has been charged with actual bodily harm after
                                    an incident after Fleetwood's match at Barnsley in April.

                                </p>
                            </div>

                            <div class="post-footer">
                                <a href="news-single.html" class="btn-link">Read More <i
                                            class="icon icon-arrow-right"></i></a>
                            </div>

                        </div><!-- post-body end -->
                    </div><!-- 3rd post end -->

                    <div class="pages mt-60">
                        <nav aria-label="Page navigation ">
                            <ul class="pagination mx-auto">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i
                                                class="fa fa-long-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>

                </div><!-- Content Col end -->

            </div><!-- Main row end -->

        </div><!-- Container end -->
    </section><!-- Main container end -->

    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>