<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="text-center">
        <!-- change password -->

        <section class="ts-contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="section-title text-center">
                            <span> Change your password</span> Account
                        </h2>
                    </div>
                    <!-- col end-->
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <form id="contact-form" class="contact-form">
                            <div class="error-container"></div>
                            <div class="center" class="row">
                                <div class="center">
                                    <div class="form-group">
                                        <input class="form-control form-control-name" placeholder="Current password"
                                               id="password" type="password" required>
                                    </div>
                                </div>
                                <div class="center">
                                    <div class="form-group">
                                        <input class="form-control form-control-name" placeholder="New password"
                                               id="password" type="password" required>
                                    </div>
                                </div>
                                <div class="center">
                                    <div class="form-group">
                                        <input class="form-control form-control-name" placeholder="Confirm password"
                                               id="password" type="password" required>
                                    </div>
                                </div>
                                <div class="text-center"><br>
                                    <button class="btn ladda-button" data-style="expand-left" type="submit"> Save
                                    </button>
                                </div>
                        </form>
                        <!-- Login form end -->
                    </div>
                </div>
            </div>
            <div class="speaker-shap">
                <img class="shap1" src="images/shap/home_schedule_memphis2.png" alt="">
            </div>
        </section>

    </section>

    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>