<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts gallery start -->
    <section id="main-container" class="main-container ts-gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span>Highlighted Sports</span>
                        Sport Center Gallery
                    </h2>
                </div><!-- col end-->
            </div>

            <div class="grid ts-grid-item">
                <div class="grid-item">
                    <a href="images/gallery/gallery1.jpg" class="ts-popup"><img src="images/gallery/gallery1.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery2.jpg" class="ts-popup"><img src="images/gallery/gallery2.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery3.jpg" class="ts-popup"><img src="images/gallery/gallery3.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery4.jpg" class="ts-popup"><img src="images/gallery/gallery4.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery5.jpg" class="ts-popup"><img src="images/gallery/gallery5.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery6.jpg" class="ts-popup"><img src="images/gallery/gallery6.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery7.jpg" class="ts-popup"><img src="images/gallery/gallery7.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery8.jpg" class="ts-popup"><img src="images/gallery/gallery8.jpg"
                                                                                alt=""/></a>
                </div>
                <div class="grid-item">
                    <a href="images/gallery/gallery9.jpg" class="ts-popup"><img src="images/gallery/gallery9.jpg"
                                                                                alt=""/></a>
                </div>
            </div>


        </div><!-- Conatiner end -->
    </section><!-- Main container end -->

    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>