<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- banner start-->
    <section class="hero-area">
        <div class="banner-item" style="background-image:url(./images/hero_area/banner_bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner-content-wrap">

                            <p class="banner-info wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">A place
                                connecting sport lover, finding your favorite classes, join to practise, more people,
                                more fun!</p>
                            <h1 class="banner-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                                Welcome to Sport Center </h1>

                            <div class="countdown wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                                <div class="counter-item">
                                    <i class="icon icon-ring-1Asset-1"></i>
                                    <span class="days">00</span>
                                    <div class="smalltext">Days</div>
                                </div>
                                <div class="counter-item">
                                    <i class="icon icon-ring-4Asset-3"></i>
                                    <span class="hours">00</span>
                                    <div class="smalltext">Hours</div>
                                </div>
                                <div class="counter-item">
                                    <i class="icon icon-ring-3Asset-2"></i>
                                    <span class="minutes">00</span>
                                    <div class="smalltext">Minutes</div>
                                </div>
                                <div class="counter-item">
                                    <i class="icon icon-ring-4Asset-3"></i>
                                    <span class="seconds">00</span>
                                    <div class="smalltext">Seconds</div>
                                </div>
                            </div>
                            <!-- Countdown end -->
                            <div class="banner-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                                <a href="#" class="btn">Find more</a>
                            </div>

                        </div>
                        <!-- Banner content wrap end -->
                    </div>
                    <!-- col end-->
                    <div class="col-lg-4 align-self-end">
                        <div class="banner-img">
                            <img src="images/hero_area/banner_img.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- row end-->
            </div>
            <!-- Container end -->
        </div>
        <!-- banner slice image-->
        <div class="tiles">
            <div class="tile" data-scale="1.1" data-image="images/hero_area/banner_slices.png"></div>
        </div>
    </section>
    <!-- banner end-->

    <!-- ts intro start -->

    <section class="ts-intro-item section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                    <div class="intro-left-content">
                        <h2 class="column-title">
                            <span>Why Join Us?</span> Why you should Join Sport Center
                        </h2>
                        <p>
                            We provide a flatform for owner to register yard and member to book slot and practise sports
                            with friends.
                        </p>
                        <a href="#" class="btn">Register</a>
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                            <div class="single-intro-text mb-30">
                                <i class="icon icon-speaker"></i>
                                <h3 class="ts-title">Fast Platform</h3>
                                <p>
                                    Nice and convinience booking Platform
                                </p>
                                <span class="count-number">01</span>
                            </div>
                            <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                            <div class="single-intro-text mb-30">
                                <i class="icon icon-netwrorking"></i>
                                <h3 class="ts-title">Multi Sports</h3>
                                <p>
                                    We offer many sports | yards in many cities
                                </p>
                                <span class="count-number">02</span>
                            </div>
                            <!-- single intro text end-->

                        </div>
                        <!-- col end-->
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                            <div class="single-intro-text mb-30">
                                <i class="icon icon-people"></i>
                                <h3 class="ts-title">Networking</h3>
                                <p>
                                    Invite friends to play with you, why not?
                                </p>
                                <span class="count-number">03</span>
                            </div>
                            <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                            <div class="single-intro-text mb-30">
                                <i class="icon icon-fun"></i>
                                <h3 class="ts-title">Powerful report</h3>
                                <p>
                                    If you're owner, join us to find the most powerful report
                                </p>
                                <span class="count-number">04</span>
                            </div>
                            <!-- single intro text end-->
                        </div>
                        <!-- col end-->
                    </div>
                </div>
                <!-- col end-->

            </div>
            <!-- row end-->
        </div>
        <!-- container end-->
    </section>
    <!-- ts intro end-->

    <!-- ts speaker start-->
    <section id="ts-speakers" class="ts-speakers" style="background-image:url(./images/speakers/speaker_bg.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span>Our highlighted</span> Sports
                    </h2>
                </div>
                <!-- col end-->
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker1.jpg" alt="">
                            <a href="#popup_1" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Swimming</a></h3>
                            <p>
                                New York
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_1" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker1.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">Swimming</h3>
                                    <span class="speakder-designation">Swimming acitivites</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        Swimming is an individual or team sport that requires the use of one's entire
                                        body to move through water. The sport takes place in pools or open water.

                                    </p>
                                    <h4 class="session-name">
                                        Sessions by Dallas Swimming Pool
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                   10.30 - 11.30 am
                                             </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                      10.30 - 11.30 am
                                                </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker2.jpg" alt="">
                            <a href="#popup_2" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Tennis</a></h3>
                            <p>
                                Vietnam
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_2" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker2.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">Tennis</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker3.jpg" alt="">
                            <a href="#popup_3" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Gym Sport</a></h3>
                            <p>
                                Washington
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_3" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker3.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">David Robert</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker4.jpg" alt="">
                            <a href="#popup_4" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">X-rock climbing</a></h3>
                            <p>
                                Paris
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_4" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker4.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">X-rock climbing</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker5.jpg" alt="">
                            <a href="#popup_5" class="view-speaker  ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Bycling</a></h3>
                            <p>
                                New Jersey
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_5" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker5.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">David Robert</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="900ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker6.jpg" alt="">
                            <a href="#popup_6" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Kayak </a></h3>
                            <p>
                                Ha Long, Vietnam
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_6" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker1.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">David Robert</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1000ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker7.jpg" alt="">
                            <a href="#popup_7" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Archery Tag</a></h3>
                            <p>
                                New York
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_7" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker7.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">David Robert</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1100ms">
                    <div class="ts-speaker">
                        <div class="speaker-img">
                            <img class="img-fluid" src="images/speakers/speaker8.jpg" alt="">
                            <a href="#popup_8" class="view-speaker ts-image-popup" data-effect="mfp-zoom-in">
                                <i class="icon icon-plus"></i>
                            </a>
                        </div>
                        <div class="ts-speaker-info">
                            <h3 class="ts-title"><a href="#">Golf Sport </a></h3>
                            <p>
                                England
                            </p>
                        </div>
                    </div>
                    <!-- popup start-->
                    <div id="popup_8" class="container ts-speaker-popup mfp-hide">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-img">
                                    <img src="images/speakers/speaker8.jpg" alt="">
                                </div>
                            </div>
                            <!-- col end-->
                            <div class="col-lg-6">
                                <div class="ts-speaker-popup-content">
                                    <h3 class="ts-title">David Robert</h3>
                                    <span class="speakder-designation">Cheif Architecture</span>
                                    <img class="company-logo" src="images/sponsors/sponsor-6.png" alt="">
                                    <p>
                                        World is committed to making participation in the event a harass ment free
                                        experience for everyone, regardless of level experience gender, gender identity
                                        and expression
                                    </p>
                                    <h4 class="session-name">
                                        Sessions by David
                                    </h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                         10.30 - 11.30 am
                                                   </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="speaker-session-info">
                                                <h4>Day 1</h4>
                                                <span>
                                                            10.30 - 11.30 am
                                                      </span>
                                                <p>
                                                    Swimming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ts-speakers-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- ts-speaker-popup-content end-->
                            </div>
                            <!-- col end-->
                        </div>
                        <!-- row end-->
                    </div>
                    <!-- popup end-->
                </div>
                <!-- col end-->
            </div>
            <!-- row end-->
        </div>
        <!-- container end-->

        <!-- shap img-->
        <div class="speaker-shap">
            <img class="shap1" src="images/shap/home_speaker_memphis1.png" alt="">
            <img class="shap2" src="images/shap/home_speaker_memphis2.png" alt="">
            <img class="shap3" src="images/shap/home_speaker_memphis3.png" alt="">
        </div>
        <!-- shap img end-->
    </section>
    <!-- ts speaker end-->

    <!-- ts experience start-->
    <section id="ts-experiences" class="ts-experiences">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 no-padding">
                    <div class="exp-img" style="background-image:url(./images/cta_img.jpg)">
                        <!-- <img class="img-fluid" src="images/cta_img.jpg" alt=""> -->
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-6 no-padding align-self-center wow fadeInUp" data-wow-duration="1.5s"
                     data-wow-delay="500ms">
                    <div class="ts-exp-wrap">
                        <div class="ts-exp-content">
                            <h2 class="column-title">
                                <span>Get Experience</span> Join Us Today
                            </h2>
                            <p>
                                At Sport Center we are proud to invite you to make the most of a facility where new
                                skills and continued development regularly take place in a secure environment.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- col end-->
            </div>
            <!-- row end-->
        </div>
        <!-- container fluid end-->
    </section>
    <!-- ts experience end-->

    <!-- ts experience start-->
    <section class="ts-schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                    <div class="ts-schedule-content">
                        <h2 class="column-title">
                            <span>Schedule Details</span> Information of Sport Schedule
                        </h2>
                        <p>
                            Click on links below for full team schedules by sport. Schedules are subject to change.
                            Refer to the Calendar for most current and updated information:

                        </p>
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                    <div class="ts-schedule-info mb-70">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="active" title="Click Me" href="#date1" role="tab" data-toggle="tab">
                                    <h3>5th June</h3>
                                    <span>Friday</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" href="#date2" title="Click Me" role="tab" data-toggle="tab">
                                    <h3>6th June</h3>
                                    <span>Saturday</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" href="#date3" title="Click Me" role="tab" data-toggle="tab">
                                    <h3>7th June</h3>
                                    <span>Sunday</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                    </div>
                </div>
                <!-- col end-->
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content schedule-tabs">
                        <div role="tabpanel" class="tab-pane active" id="date1">
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 9.30 - 10.30 AM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title"> Swimming
                                            <strong>Help in New York</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.

                                        </p>

                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 10.30 - 11.30 AM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker2.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Tennis
                                            <strong>Held in Vietnam</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 11.30 - 12.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker3.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title"> Gym Acitivities
                                            <strong> Help in Paris</strong>
                                        </h3>
                                        <p>At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing launce">
                                <div class="schedule-slot-time">
                                    <span> 12.30 - 01.30 PM</span>
                                </div>
                                <div class="schedule-slot-info">

                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title"> Off time
                                            <strong></strong>
                                        </h3>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->

                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 01.30 - 02.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker4.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">X-rock Climbing
                                            <strong> Held in Paris</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing-btn">
                                <a href="#" class="btn">More Details</a>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="date2">
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 02.30 - 03.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker5.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Marketing Matters!
                                            <strong> Gym Activites </strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 03.30 - 04.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker6.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Reinventing Experiences
                                            <strong>@ Fredric Martinsson</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 04.30 - 05.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker7.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Cultures of Creativity
                                            <strong>@ Hall Building</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 05.30 - 06.30 PM</span>
                                </div>
                                <div class="schedule-slot-info">

                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Lunch Break
                                            <strong>@ Agaton Johnsson</strong>
                                        </h3>
                                        <a href="#">
                                            <img src="images/schedule_lunch.png" alt="">
                                        </a>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->

                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 06.30 - 07.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker8.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Human Centered Design
                                            <strong>@ Henrikon Rebecca</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing-btn">
                                <a href="#" class="btn">More Details</a>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="date3">
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 07.30 - 11.30 PM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Marketing Matters!
                                            <strong>@ Fredric Martinsson</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                    </div>
                                    <!--Info content end -->
                                </div>
                                <!-- Slot info end -->
                            </div>
                            <!--schedule-listing end -->
                            <div class="schedule-listing">
                                <div class="schedule-slot-time">
                                    <span> 9.30 - 10.30 AM</span> Sport plan
                                </div>
                                <div class="schedule-slot-info">
                                    <a href="#">
                                        <img class="schedule-slot-speakers" src="images/speakers/speaker2.jpg" alt="">
                                    </a>
                                    <div class="schedule-slot-info-content">
                                        <h3 class="schedule-slot-title">Tennis
                                            <strong>Held in Vietnam</strong>
                                        </h3>
                                        <p>
                                            At Sport Center we are proud to invite you to make the most of a facility
                                            where new skills and continued development regularly take place in a secure
                                            environment.
                                        </p>
                                        <!--Info content end -->
                                    </div>
                                    <!-- Slot info end -->
                                </div>
                                <!--schedule-listing end -->
                                <div class="schedule-listing">
                                    <div class="schedule-slot-time">
                                        <span> 10.30 - 11.30 AM</span> Sport plan
                                    </div>
                                    <div class="schedule-slot-info">
                                        <a href="#">
                                            <img class="schedule-slot-speakers" src="images/speakers/speaker3.jpg"
                                                 alt="">
                                        </a>
                                        <div class="schedule-slot-info-content">
                                            <h3 class="schedule-slot-title">Cultures of Creativity
                                                <strong>@ Johnsson Agaton</strong>
                                            </h3>
                                            <p>
                                                At Sport Center we are proud to invite you to make the most of a
                                                facility where new skills and continued development regularly take place
                                                in a secure environment.
                                            </p>
                                            <!--Info content end -->
                                        </div>
                                        <!-- Slot info end -->
                                    </div>
                                    <!--schedule-listing end -->
                                    <div class="schedule-listing launce">
                                        <div class="schedule-slot-time">
                                            <span> 11.30 - 12.30 PM</span>
                                        </div>
                                        <div class="schedule-slot-info">

                                            <div class="schedule-slot-info-content">
                                                <h3 class="schedule-slot-title">Lunch Break
                                                    <strong> Golf Sport </strong>
                                                </h3>
                                                <a href="#">
                                                    <img src="images/schedule_lunch.png" alt="">
                                                </a>
                                            </div>
                                            <!--Info content end -->
                                        </div>
                                        <!-- Slot info end -->
                                    </div>
                                    <!--schedule-listing end -->

                                    <div class="schedule-listing">
                                        <div class="schedule-slot-time">
                                            <span> 12.30 - 01.30 PM</span> Sport plan
                                        </div>
                                        <div class="schedule-slot-info">
                                            <a href="#">
                                                <img class="schedule-slot-speakers" src="images/speakers/speaker4.jpg"
                                                     alt="">
                                            </a>
                                            <div class="schedule-slot-info-content">
                                                <h3 class="schedule-slot-title">Human Centered Design
                                                    <strong>@ Agaton Johnsson</strong>
                                                </h3>
                                                <p>
                                                    At Sport Center we are proud to invite you to make the most of a
                                                    facility where new skills and continued development regularly take
                                                    place in a secure environment.
                                                </p>
                                            </div>
                                            <!--Info content end -->
                                        </div>
                                        <!-- Slot info end -->
                                    </div>
                                    <!--schedule-listing end -->
                                    <div class="schedule-listing-btn">
                                        <a href="#" class="btn">More Details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- container end-->
    </section>
    <!-- ts experience end-->

    <!-- ts pricing start-->
    <section class="ts-pricing gradient" style="background-image: url(./images/pricing/pricing_img.jpeg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title white">
                        <span>Pricing Plans</span> Get your Membership
                    </h2>
                </div>
                <!-- section title end-->
            </div>
            <!-- col end-->
            <!-- row end-->
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                    <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">

                            <div class="ts-pricing-header">
                                <h2 class="ts-pricing-name">Early Bird</h2>
                                <h3 class="ts-pricing-price">
                                    <span class="currency">$</span>219
                                </h3>
                            </div>
                            <div class="ts-pricing-progress">
                                <p class="amount-progres-text">Available tickets for this price</p>
                                <div class="ts-progress">
                                    <div class="ts-progress-inner" style="width: 100%"></div>
                                </div>
                                <p class="ts-pricing-value">500/500</p>
                            </div>
                            <div class="promotional-code">
                                <p class="promo-code-text">Enter Promotional Code</p>
                                <a href="#" class="btn pricing-btn">Buy Ticket</a>
                                <p class="vate-text">All prices exclude 25% VAT</p>
                            </div>
                        </div>
                        <!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                    <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                            <span class="big-dot"></span>
                            <div class="ts-pricing-header">
                                <h2 class="ts-pricing-name">Regular</h2>
                                <h3 class="ts-pricing-price">
                                    <span class="currency">$</span>399
                                </h3>
                            </div>
                            <div class="ts-pricing-progress">
                                <p class="amount-progres-text">Available tickets for this price</p>
                                <div class="ts-progress">
                                    <div class="ts-progress-inner" style="width: 75%"></div>
                                </div>
                                <p class="ts-pricing-value">350/500</p>
                            </div>
                            <div class="promotional-code">
                                <p class="promo-code-text">Enter Promotional Code</p>
                                <a href="#" class="btn pricing-btn">Buy Ticket</a>
                                <p class="vate-text">All prices exclude 25% VAT</p>
                            </div>
                        </div>
                        <!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                    </div>
                </div>
                <!-- col end-->
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                    <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                            <span class="big-dot"></span>
                            <div class="ts-pricing-header">
                                <h2 class="ts-pricing-name">Platinum</h2>
                                <h3 class="ts-pricing-price">
                                    <span class="currency">$</span>699
                                </h3>
                            </div>
                            <div class="ts-pricing-progress">
                                <p class="amount-progres-text">Available tickets for this price</p>
                                <div class="ts-progress">
                                    <div class="ts-progress-inner" style="width: 50%"></div>
                                </div>
                                <p class="ts-pricing-value">250/500</p>
                            </div>
                            <div class="promotional-code">
                                <p class="promo-code-text">Enter Promotional Code</p>
                                <a href="#" class="btn pricing-btn">Buy Ticket</a>
                                <p class="vate-text">All prices exclude 25% VAT</p>
                            </div>
                        </div>
                        <!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                    </div>
                </div>
                <!-- col end-->
            </div>
        </div>
        <!-- container end-->
        <div class="speaker-shap wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
            <img class="shap2" src="images/shap/pricing_memphis1.png" alt="">
        </div>
    </section>
    <!-- ts pricing end-->
    <!-- ts blog start-->
    <section class="ts-blog section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title">
                        <span>Info Update</span> Latest News
                    </h2>
                </div>
                <!-- col end-->
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                    <div class="post">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/blog/blog1.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-body">
                            <div class="post-meta">
                                        <span class="post-author">
                             <a href="#">BY Admin</a>
                           </span>

                                <div class="post-meta-date">
                                    July 07, 2019
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">David Malan hopeful of England recall ahead of Test summer</a>
                                </h2>
                            </div>
                            <!-- header end -->

                            <div class="entry-content">
                                <p>
                                    The Middlesex left-hander, who played the last of his 15 Tests in August 2019..
                                </p>
                            </div>

                            <div class="post-footer">
                                <a href="news-single.html" class="btn-link">Read More <i
                                            class="icon icon-arrow-right"></i></a>
                            </div>

                        </div>
                        <!-- post-body end -->
                    </div>
                    <!-- post end-->
                </div>
                <!-- col end-->
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                    <div class="post">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/blog/blog2.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-body">
                            <div class="post-meta">
                                        <span class="post-author">
                                <a href="#">BY Admin</a>
                              </span>

                                <div class="post-meta-date">
                                    July 09, 2019
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">Kieran Trippier: Atletico Madrid agree deal </a>
                                </h2>
                            </div>
                            <!-- header end -->

                            <div class="entry-content">
                                <p>Atletico Madrid have agreed a 21.7m (24m) deal with Tottenham to sign Kieran
                                    Trippier...</p>
                            </div>

                            <div class="post-footer">
                                <a href="news-single.html" class="btn-link">Read More <i
                                            class="icon icon-arrow-right"></i></a>
                            </div>

                        </div>
                        <!-- post-body end -->
                    </div>
                    <!-- post end-->
                </div>
                <!-- col end-->
                <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                    <div class="post">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/blog/blog3.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-body">
                            <div class="post-meta">
                                        <span class="post-author">
                                   <a href="#">BY Admin</a>
                                 </span>

                                <div class="post-meta-date">
                                    July 11, 2019
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#">Joey Barton charged with actual bodily</a>
                                </h2>
                            </div>
                            <!-- header end -->

                            <div class="entry-content">
                                <p>Joey Barton has been charged with actual bodily harm after an incident after
                                    Fleetwood's match at..</p>
                            </div>

                            <div class="post-footer">
                                <a href="news-single.html" class="btn-link">Read More <i
                                            class="icon icon-arrow-right"></i></a>
                            </div>

                        </div>
                        <!-- post-body end -->
                    </div>
                    <!-- post end-->
                </div>
                <!-- col end-->
            </div>
            <!-- row end-->
        </div>
        <!-- container end-->
        <!-- shap image-->
        <div class="speaker-shap">
            <img class="shap2" src="images/shap/news_memphis2.png" alt="">
            <img class="shap1" src="images/shap/news_memphis1.png" alt="">
        </div>
    </section>
    <!-- ts blog end-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>