<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="ts-pricing classic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title">
                        <span> Player Plans</span>
                        Join us as player
                    </h2>
                </div><!-- section title end-->
            </div><!-- col end-->
            <!-- row end-->
            <!-- Player membership price-->

            <div class="row">
                <div class="col-lg-4">
                    <div class="ts-pricing-item">
                        <div class="ts-pricing-header">
                            <i class="icon-pricing-1Asset-1"></i>
                            <h2 class="ts-pricing-name">Silver</h2>
                            <h3 class="ts-pricing-price">
                                <img class="currency" src="images/pricing/dollar.png" alt="">
                                <span>39.9</span>

                                </h3>
                            <h4 class="ts-pricing-price"> Section: 1</h4>

                        </div>
                        <p>
                            Membership for player as silver
                        </p>
                        <a href="/contact" class="btn btn-round">Contact us</a>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="ts-pricing-item active">
                        <div class="ts-pricing-header">
                            <i class="icon-pricing-2Asset-2"></i>
                            <h2 class="ts-pricing-name">Gold</h2>
                            <h3 class="ts-pricing-price">
                                <img class="currency" src="images/pricing/dollar.png" alt="">
                                <span>59.9</span>
                            </h3>
                            <h4 class="ts-pricing-price"> Section: 1</h4>

                        </div>
                        <p>
                            Membership for player as gold
                        </p>
                        <a href="/contact" class="btn btn-round">Contact us</a>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="pricing-item">
                        <div class="ts-pricing-item">
                            <div class="ts-pricing-header">
                                <i class="icon-pricing-3Asset-3"></i>
                                <h2 class="ts-pricing-name">Platinum</h2>
                                <h3 class="ts-pricing-price">
                                    <img class="currency" src="images/pricing/dollar.png" alt="">
                                    <span>99.9</span>
                                </h3>
                                <h4 class="ts-pricing-price"> Section: 1</h4>

                            </div>
                            <p>
                                Platinum player
                            </p>
                            <a href="/contact" class="btn btn-round">Contact us</a>
                        </div>
                    </div>
                </div><!-- col end-->
            </div>
        </div><!-- container end-->
        <div class="speaker-shap">
            <img class="shap2" src="images/shap/pricing_memphis1.png" alt="">
        </div>
    </section>


    <section class="ts-pricing gradient" style="background-image: url(./images/pricing/pricing_img.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title white">
                        <span>Owner Plans</span>
                        You have yard? Join us as owner
                    </h2>
                </div><!-- section title end-->
            </div><!-- col end-->
            <!-- row end-->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ts-pricing-item">
                        <div class="ts-pricing-header">
                            <i class="icon-pricing-1Asset-1"></i>
                            <h2 class="ts-pricing-name">Silver</h2>
                            <h3 class="ts-pricing-price">
                                <img class="currency" src="images/pricing/dollar.png" alt="">
                                <span>39.9</span>

                            </h3>
                            <h4 class="ts-pricing-price"> Section: 1</h4>

                        </div>
                        <p>
                                Silver owner
                        </p>
                        <a href="/contact" class="btn btn-round">Contact us</a>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="ts-pricing-item active">
                        <div class="ts-pricing-header">
                            <i class="icon-pricing-2Asset-2"></i>
                            <h2 class="ts-pricing-name">Gold</h2>
                            <h3 class="ts-pricing-price">
                                <img class="currency" src="images/pricing/dollar.png" alt="">
                                <span>59.9</span>
                            </h3>
                            <h4 class="ts-pricing-price"> Section: 1</h4>

                        </div>
                        <p>
                            Gold owner
                        </p>
                        <a href="/contact" class="btn btn-round">Contact us</a>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="pricing-item">
                        <div class="ts-pricing-item">
                            <div class="ts-pricing-header">
                                <i class="icon-pricing-3Asset-3"></i>
                                <h2 class="ts-pricing-name">Platinum</h2>
                                <h3 class="ts-pricing-price">
                                    <img class="currency" src="images/pricing/dollar.png" alt="">
                                    <span>99.9</span>
                                </h3>
                                <h4 class="ts-pricing-price"> Section: 1</h4>

                            </div>
                            <p>
                                Platinum owner
                            </p>
                            <a href="/contact" class="btn btn-round">Contact us</a>
                        </div>
                    </div>
                </div><!-- col end-->
            </div>
        </div><!-- container end-->
        <div class="speaker-shap">
            <img class="shap2" src="images/shap/pricing_memphis1.png" alt="">
        </div>
    </section>

    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>
