<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ./partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ./partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="ts-pricing classic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title">
                        <span>Pricing Plans</span>
                        Get your Ticket
                    </h2>
                </div><!-- section title end-->
            </div><!-- col end-->
            <!-- row end-->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ts-pricing-item disebled">
                        <div class="ts-pricing-header">
                            <i class="icon-pricing-1Asset-1"></i>
                            <h2 class="ts-pricing-name">Early Bird</h2>
                            <h3 class="ts-pricing-price">
                                <img class="currency" src="images/pricing/dollar.png" alt="">
                                <span>39.9</span>
                            </h3>
                        </div>
                        <p>
                            How you transform your business as technology, consumer, habits industrys dynamic
                        </p>
                        <a href="#" class="btn btn-round">Sold Out</a>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="ts-pricing-item active">
                        <div class="ts-pricing-header">
                            <i class="icon-pricing-2Asset-2"></i>
                            <h2 class="ts-pricing-name">Regular</h2>
                            <h3 class="ts-pricing-price">
                                <img class="currency" src="images/pricing/dollar.png" alt="">
                                <span>59.9</span>
                            </h3>
                        </div>
                        <p>
                            How you transform your business as technology, consumer, habits industrys dynamic
                        </p>
                        <a href="#" class="btn btn-round">Buy Ticket</a>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="pricing-item">
                        <div class="ts-pricing-item">
                            <div class="ts-pricing-header">
                                <i class="icon-pricing-3Asset-3"></i>
                                <h2 class="ts-pricing-name">Platinum</h2>
                                <h3 class="ts-pricing-price">
                                    <img class="currency" src="images/pricing/dollar.png" alt="">
                                    <span>99.9</span>
                                </h3>
                            </div>
                            <p>
                                How you transform your business as technology, consumer, habits industrys dynamic
                            </p>
                            <a href="#" class="btn btn-round">Buy Ticket</a>
                        </div>
                    </div>
                </div><!-- col end-->
            </div>
        </div><!-- container end-->
        <div class="speaker-shap">
            <img class="shap2" src="images/shap/pricing_memphis1.png" alt="">
        </div>
    </section>


    <section class="ts-pricing gradient" style="background-image: url(./images/pricing/pricing_img.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title white">
                        <span>Pricing Plans</span>
                        Get your Ticket
                    </h2>
                </div><!-- section title end-->
            </div><!-- col end-->
            <!-- row end-->
            <div class="row">
                <div class="col-lg-4">
                    <div class="pricing-item disebled">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">

                            <div class="ts-pricing-header">
                                <h2 class="ts-pricing-name">Early Bird</h2>
                                <h3 class="ts-pricing-price">
                                    <span class="currency">$</span>219
                                </h3>
                            </div>
                            <div class="ts-pricing-progress">
                                <p class="amount-progres-text">Available tickets for this price</p>
                                <div class="ts-progress">
                                    <div class="ts-progress-inner" style="width: 100%"></div>
                                </div>
                                <p class="ts-pricing-value">500/500</p>
                            </div>
                            <div class="promotional-code">
                                <p class="promo-code-text">Enter Promotional Code</p>
                                <a href="#" class="btn pricing-btn">Sold Out</a>
                                <p class="vate-text">All prices exclude 25% VAT</p>
                            </div>
                        </div><!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                            <span class="big-dot"></span>
                            <div class="ts-pricing-header">
                                <h2 class="ts-pricing-name">Regular</h2>
                                <h3 class="ts-pricing-price">
                                    <span class="currency">$</span>399
                                </h3>
                            </div>
                            <div class="ts-pricing-progress">
                                <p class="amount-progres-text">Available tickets for this price</p>
                                <div class="ts-progress">
                                    <div class="ts-progress-inner" style="width: 75%"></div>
                                </div>
                                <p class="ts-pricing-value">350/500</p>
                            </div>
                            <div class="promotional-code">
                                <p class="promo-code-text">Enter Promotional Code</p>
                                <a href="#" class="btn pricing-btn">Buy Ticket</a>
                                <p class="vate-text">All prices exclude 25% VAT</p>
                            </div>
                        </div><!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                    </div>
                </div><!-- col end-->
                <div class="col-lg-4">
                    <div class="pricing-item">
                        <img class="pricing-dot " src="images/pricing/dot.png" alt="">
                        <div class="ts-pricing-box">
                            <span class="big-dot"></span>
                            <div class="ts-pricing-header">
                                <h2 class="ts-pricing-name">Platinum</h2>
                                <h3 class="ts-pricing-price">
                                    <span class="currency">$</span>699
                                </h3>
                            </div>
                            <div class="ts-pricing-progress">
                                <p class="amount-progres-text">Available tickets for this price</p>
                                <div class="ts-progress">
                                    <div class="ts-progress-inner" style="width: 50%"></div>
                                </div>
                                <p class="ts-pricing-value">250/500</p>
                            </div>
                            <div class="promotional-code">
                                <p class="promo-code-text">Enter Promotional Code</p>
                                <a href="#" class="btn pricing-btn">Buy Ticket</a>
                                <p class="vate-text">All prices exclude 25% VAT</p>
                            </div>
                        </div><!-- ts pricing box-->
                        <img class="pricing-dot1 " src="images/pricing/dot.png" alt="">
                    </div>
                </div><!-- col end-->
            </div>
        </div><!-- container end-->
        <div class="speaker-shap">
            <img class="shap2" src="images/shap/pricing_memphis1.png" alt="">
        </div>
    </section>

    <section id="ts-sponsors" class="ts-sponsors">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 mx-auto">
                    <h2 class="section-title text-center">
                        <span>Who Healps us</span>
                        Our Sponsors
                    </h2>
                </div>
            </div>
            <!--/ Title row end -->
            <div class="sponsors-wrap">
                <h3 class="sponsor-title text-center">Platinum Sponsors</h3>
                <div class="row sponsor-padding text-center">
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-1.png" alt="">
                        </a>
                    </div>
                    <!-- Col 1 end -->
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-2.png" alt="">
                        </a>
                    </div>
                    <!-- Col 2 end -->
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-3.png" alt="">
                        </a>
                    </div>
                    <!-- Col 3 end -->
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-4.png" alt="">
                        </a>
                    </div>
                    <!-- Col 3 end -->
                </div>
            </div>

            <!--/ Content row 1 end -->

            <div class="sponsors-wrap">
                <h3 class="sponsor-title text-center">Gold Sponsors</h3>
                <div class="row sponsor-padding text-center">
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-5.png" alt="">
                        </a>
                    </div>
                    <!-- Col 1 end -->
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-6.png" alt="">
                        </a>
                    </div>
                    <!-- Col 2 end -->
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-7.png" alt="">
                        </a>
                    </div>
                    <!-- Col 3 end -->
                    <div class="col-lg-3">
                        <a href="#" class="sponsors-logo">
                            <img class="img-fluid" src="images/sponsors/sponsor-8.png" alt="">
                        </a>
                    </div>
                    <!-- Col 3 end -->
                </div>
            </div>

            <!--/ Content row 2 end -->


            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="general-btn text-center">
                        <a class="btn" href="#">Become A Sponsor</a>
                    </div>
                </div>
            </div>
            <!--/ Content row 3 end -->
        </div>
        <!--/ Container end -->
    </section>

    <!-- footer start-->
    <% include ./partials/footer %>
    <!-- Body inner end -->
</div>
<% include ./partials/footer-script %>
</body>

</html>
