<div id="page-banner-area" class="page-banner-area" style="background-image:url(/images/hero_area/banner_bg.jpg)">
    <!-- Subpage title start -->
    <div class="page-banner-title">
        <div class="text-center">
            <h2>
                <%= page.pageTitle %>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Sport Center / </a>
                </li>
                <li>
                    <%= page.breadCrumbTitle %>
                </li>
            </ol>
        </div>
    </div>
    <!-- Subpage title end -->
</div>