<!-- views/partials/footer.ejs -->
<!-- ts footer area start-->
<div class="footer-area">
    <!-- footer start-->
    <footer class="ts-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="ts-footer-social text-center mb-30">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- footer social end-->
                    <div class="footer-menu text-center mb-25">
                        <ul>
                            <li><a href="/blog">Blog | News </a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/schedule-list">Schedule List</a></li>
                        </ul>
                    </div>
                    <!-- footer menu end-->
                    <div class="copyright-text text-center">
                        <p>Copyright © 2019 Sport Center. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end-->
</div>
<!-- ts footer area end-->
<div class="BackTo">
    <a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
</div>
<!-- ts footer area end-->