<header id="header" class="header header-transparent">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- logo-->
            <a class="navbar-brand" href="#">
                <img src="/images/logos/logo.svg" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span>
               </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item active">
                        <a href="/">Home</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="javascript:;" class="" data-toggle="dropdown">Sport Center <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/membership">Membership</a></li>
                            <li><a href="/blog">Blog | News</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="" data-toggle="dropdown">Schedule <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/schedule-list">Schedule List</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="ad-center.html"> Player <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/player/player-info">Player Zone</a></li>
                            <li><a href="/player/player-booking">Booking history</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:;" class="" data-toggle="dropdown">Owner <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/owner/owner-center"> Owner Zone </a></li>
                            <li><a href="/owner/owner-centerlist"> Center Management </a></li>
                            <li><a href="/owner/owner-yardlist"> Yard Management </a></li>
                            <li><a href="/owner/owner-centerlist"> Booking Management </a></li>
                            <li><a href="/owner/owner-report">Report</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#"> Admin <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin/admin-center">Admin Zone</a></li>
                            <li><a href="/admin/admin-contract">Contract Management</a></li>
                            <li><a href="/admin/admin-report">Report</a></li>
                        </ul>
                    </li>

                    <li class="header-ticket nav-item">
                        <a class="ticket-btn btn" href="/login"> Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- container end-->
</header>