<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section id="ts-sponsors" class="ts-sponsors">
        <!-- Admin info -->
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-4 mx-auto">
                    <h2 class="section-title text-center">
                        <span>Personal information</span>
                        Admin
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">First name</label>
                        <input class="form-control form-control-subject" placeholder="First name"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">Last name</label>
                        <input class="form-control form-control-subject" placeholder="Last name"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">DOB</label>
                        <input class="form-control form-control-subject" placeholder="DOB"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">Phone Number</label>
                        <input class="form-control form-control-subject" placeholder="Phone Number"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">Address</label>
                        <input class="form-control form-control-subject" placeholder="Address"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">City</label>
                        <input class="form-control form-control-subject" placeholder="City"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="col-md-12" style="padding-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <label class="control-label">Country</label>
                        <input class="form-control form-control-subject" placeholder="Country"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="sponsors-wrap">
                <div class="row sponsor-padding text-center">
                    <!-- Col 1 end -->
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn"> Edit </a>
                    </div>
                    <!-- Col 2 end -->
                    <div class="col-md-6 text-left">
                        <a href="/changepassword" class="btn"> Change Password</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- footer start-->
    <% include ../partials/footer %>
    <!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>