<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-inner">
        <!-- Header start -->
        <% include ../partials/header %>
            <!--/ Header end -->
            <!-- Banner start -->
            <% include ../partials/banner %>
                <!-- Banner end -->
                <!-- ts Content start -->
                <section class="text-center">
                        <div class="container">
                                <div class="row text-center">
                                    <div class="col-lg-4 mx-auto">
                                        <h2 class="section-title text-center">
                                            <span>Follow actions below </span>
                                            Contract Management
        
                                        </h2>
                                    </div>
                                </div>
                                <!--/ Title row end -->
                                <div class="sponsors-wrap">
                                    <div class="row sponsor-padding text-center">
                                        <!-- Col 1 end -->
                                        <div class="col-md-6 text-right">
                                            <a href="/admin/contract-creation" class="btn"> Create new Contract </a>
                                        </div>
                                        <!-- Col 2 end -->
                                        <div class="col-md-6 text-left">
                                            <a href="/admin/contract-list" class="btn"> List of Contracts</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Container end -->
                </section>

                <!-- footer start-->
                <% include ../partials/footer %>
                    <!-- Body inner end -->
    </div>
    <% include ../partials/footer-script %>
</body>

</html>