<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <!Contract form !>
    <section class="ts-contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span> Create new contract </span>
                        Contract
                    </h2>
                </div><!-- col end-->
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contact-form" class="contact-form" method="post">
                        <input type="hidden" id="membershipId" name="membershipId">
                        <div class="error-container">
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">First Name</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="First Name" type="text"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Last Name</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="First Name" type="text"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Email</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Email" type="email"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">DOB</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="DOB" type="date"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Phone Number </label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Phone Number" type="number"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Address</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Address" type="text"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">City</label>
                                        <input class="form-control form-control-subject"
                                               placeholder="City" type="text"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Country </label>
                                        <input class="form-control form-control-subject"
                                               placeholder="Country" type="text"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Category </label>
                                        <select id="categoryList" class="form-control" required>
                                            <option value="">Select category type</option>
                                            <option value="owner">Owner</option>
                                            <option value="player">Player</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Type of membership</label>
                                        <select id="membershipList" class="form-control" required>
                                            <option value="">Select membership type</option>
                                            <option value="silver">Silver</option>
                                            <option value="gold">Gold</option>
                                            <option value="platinum">Platinum</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Session</label>
                                        <select id="sessionList" class="form-control" required>
                                            <option value="">Select session</option>
                                            <option value="1">1</option>
                                            <option value="6">6</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Price </label>
                                        <input id="price" class="form-control form-control-subject" type="number"
                                               placeholder="Price will be automatically generated" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section>
                            <div class="sponsors-wrap">
                                <div class="row sponsor-padding text-center">
                                    <!-- Col 1 end -->
                                    <div class="col-md-6 text-right">
                                        <a href="#" class="btn"> Confirm </a>
                                    </div>
                                    <!-- Col 2 end -->
                                    <div class="col-md-6 text-left">
                                        <a href="/admin/admin-contract" class="btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                </div>
            </div>
                </form><!-- Contract form end -->
            </div>
        </div>
</div>
<div class="speaker-shap">
    <img class="shap1" src="../images/shap/home_schedule_memphis2.png" alt="">
</div>
</section>
<!-- footer start-->
<% include ../partials/footer %>
<!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>
<script type="text/javascript">
    var memberships = <%- JSON.stringify(memberships)%>;
    var category = '';
    var cardLevel = '';
    var session = '';

    $(function () {
        $('#categoryList').change(function () {
            category = $(this).val();
            checkContractPrice();
        });
        $('#membershipList').change(function () {
            cardLevel = $(this).val();
            checkContractPrice();
        });
        $('#sessionList').change(function () {
            session = $(this).val();
            checkContractPrice();
        });
    });
    
    function checkContractPrice() {
        var membership = memberships.filter(function (item) {
            return item.type == category && item.cardLevel == cardLevel && item.session == session;
        });

        if (membership.length > 0) membership = membership[0];

        $("#price").val(membership.price);
        $("#membershipId").val(membership.id);
    }
</script>