<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-inner">
        <!-- Header start -->
        <% include ../partials/header %>
            <!--/ Header end -->
            <!-- Banner start -->
            <% include ../partials/banner %>
                <!-- Banner end -->
                <!-- ts Content start -->
        <!Contract form !>
        <section class="ts-contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="section-title text-center">
                            <span> List of contract </span>
                            Contract
                        </h2>
                    </div><!-- col end-->
                </div>
                <div class="text-center">
                    <ul style="list-style-type:none;">
                        <li> <a href ="/admin/contract-detail"> Contract 1 </a></li>
                        <li>  <a href ="/admin/contract-detail"> Contract 2 </a> </li>
                        <li> <a href ="/admin/contract-detail"> Contract 3 </a></li>
                    </ul>
                </div>
                </div>
            </div>
    </div>
            <div class="speaker-shap">
                <img class="shap1" src="images/shap/home_schedule_memphis2.png" alt="">
            </div>
        </section>
                <!-- footer start-->
                <% include ../partials/footer %>
                    <!-- Body inner end -->
    </div>
    <% include ../partials/footer-script %>
</body>

</html>