<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-inner">
        <!-- Header start -->
        <% include ../partials/header %>
            <!--/ Header end -->
            <!-- Banner start -->
            <% include ../partials/banner %>
                <!-- Banner end -->
                <!-- ts Content start -->
                <section class="text-center">
                    Onwer report
                </section>

                <!-- footer start-->
                <% include ../partials/footer %>
                    <!-- Body inner end -->
    </div>
    <% include ../partials/footer-script %>
</body>

</html>