<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-inner">
        <!-- Header start -->
        <% include ../partials/header %>
            <!--/ Header end -->
            <!-- Banner start -->
            <% include ../partials/banner %>
                <!-- Banner end -->
                <!-- ts Content start -->
                  <!-- Yard creation form -->
        <section class="ts-contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="section-title text-center">
                            <span> Create new yard </span>
                           Yard
                        </h2>
                    </div><!-- col end-->
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto" >
                        <form id="contact-form" class="contact-form" action="#" method="post">
                            <div class="error-container"></div>
                            <div class="row">
                                    <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="control-label">Center name</label>
                                                    <select class="form-control">
                                                        <option value="#"> Center name </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <label class="control-label">Sport name</label>
                                                        <select class="form-control">
                                                            <option value="#"> Sport name </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-name" placeholder="Yard name"
                                               type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control form-control-subject" placeholder="Slot" type="number"
                                                   required>
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-subject" placeholder="Website"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-email" placeholder="Address"
                                               type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-subject" placeholder="City"
                                              type="number" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-subject" placeholder="Country"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-subject" placeholder="Time Open" name="opentime" id="opentime"
                                             type ="datetime"  required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control form-control-subject" placeholder="Time Close" name="closetime" id="closetime"
                                               type ="datetime"  required>
                                    </div>
                                </div>


                            </div>

                            <section>
                                    <div class="sponsors-wrap">
                                            <div class="row sponsor-padding text-center">
                                                    <!-- Col 1 end -->
                                                    <div class="col-md-6 text-right">
                                                        <a href="#" class="btn"> Create </a>
                                                    </div>
                                                    <!-- Col 2 end -->
                                                    <div class="col-md-6 text-left">
                                                        <a href="/owner/owner-yardlist" class="btn">Cancel</a>
                                                    </div>
                                                </div>
                            </section>
                            
            
                    </div>

                    </form><!-- Contract form end -->
                </div>
            </div>
             </div>
            <div class="speaker-shap">
                <img class="shap1" src="images/shap/home_schedule_memphis2.png" alt="">
            </div>
        </section>


                <!-- footer start-->
                <% include ../partials/footer %>
                    <!-- Body inner end -->
    </div>
    <% include ../partials/footer-script %>
</body>

</html>