<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="body-inner">
        <!-- Header start -->
        <% include ../partials/header %>
            <!--/ Header end -->
            <!-- Banner start -->
            <% include ../partials/banner %>
                <!-- Banner end -->
                <!-- ts Content start -->
        <section id="ts-sponsors" class="ts-sponsors">
            <!-- Center management -->
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="section-title text-center">
                            <span>Follow actions below </span>
                            Center Management

                        </h2>
                    </div>
                </div>
                <!--/ Title row end -->
                <div class="sponsors-wrap">
                    <div class="row sponsor-padding text-center">
                        <!-- Col 1 end -->
                        <div class="col-md-6 text-right">
                            <a href="/owner/owner-centercreation" class="btn"> Create new Center </a>
                        </div>
                        <!-- Col 2 end -->
                        <div class="col-md-6 text-left">
                            <a href="#" class="btn"> List of Centers</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <!-- Yard management -->

            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="section-title text-center">
                            <span>Follow actions below </span>
                            Yard Management

                        </h2>
                    </div>
                </div>
                <!--/ Title row end -->
                <div class="sponsors-wrap">
                    <div class="row sponsor-padding text-center">
                        <!-- Col 1 end -->
                        <div class="col-md-6 text-right">
                            <a href="/owner/owner-yardcreation" class="btn"> Create new Yard </a>
                        </div>
                        <!-- Col 2 end -->
                        <div class="col-md-6 text-left">
                            <a href="#" class="btn"> List of Yard</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-decoration: line-through;">

            <br>

            <!-- Schedule management -->

            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="section-title text-center">
                            <span>Follow actions below </span>
                            Schedule Management

                        </h2>
                    </div>
                </div>
                <!--/ Title row end -->
                <div class="sponsors-wrap">
                    <div class="row sponsor-padding text-center">
                        <!-- Col 1 end -->
                        <div class="col-md-6 text-right">
                            <a href="/owner/owner-booking-form" class="btn"> Create new Schedule</a>
                        </div>
                        <!-- Col 2 end -->
                        <div class="col-md-6 text-left">
                            <a href="#" class="btn"> List of Schedule</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
       

                <!-- footer start-->
                <% include ../partials/footer %>
                    <!-- Body inner end -->
    </div>
    <% include ../partials/footer-script %>
</body>

</html>