<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <!-- Yard creation form -->
    <section class="ts-contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="section-title text-center">
                        <span> Create new yard </span>
                        Yard
                    </h2>
                </div><!-- col end-->
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contact-form" class="contact-form" action="contact-form.php" method="post">
                        <div class="error-container">
                            <div class="row">
                            <div class="col-md-6" style="padding-bottom: 20px;">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="control-label">Center Name</label>
                                        <select class="form-control">
                                            <option value="1">Center 1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Sport Name</label>
                                            <select class="form-control">
                                                <option value="1">Yoga</option>
                                                <option value="1">Football</option>
                                                <option value="1">Basketball</option>
                                                <option value="1">Tennis</option>
                                                <option value="1">Swimming </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Yard Name</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="Center Name" type="text"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Slot Available</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="Slot Available" type="number"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Phone Number</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="Phone Number" type="number"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Address</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="Address" type="text"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">City</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="City" type="text"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Country</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="Country" type="text"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">Start Time</label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="Start Time" type="time" value="08:00:00" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="control-label">End Time </label>
                                            <input class="form-control form-control-subject"
                                                   placeholder="End Time" type="time" value="20:00:00" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <section>
            <div class="sponsors-wrap">
                <div class="row sponsor-padding text-center">
                    <!-- Col 1 end -->
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn"> Confirm </a>
                    </div>
                    <!-- Col 2 end -->
                    <div class="col-md-6 text-left">
                        <a href="/owner/owner-yardlist" class="btn">Cancel</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="speaker-shap">
            <img class="shap1" src="images/shap/home_schedule_memphis2.png" alt="">
        </div>
    </section>


    <!-- footer start-->
    <% include ../partials/footer %>
    <!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>