<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <% include ../partials/header %>
    <!--/ Header end -->
    <!-- Banner start -->
    <% include ../partials/banner %>
    <!-- Banner end -->
    <!-- ts Content start -->
    <section class="text-center">

            <iframe width="1200" height="1000"
                    src="https://datastudio.google.com/embed/reporting/1K8m03fPwsxk9I7lLPT75hVWr1Ne8BBPr/page/Vorw"
                    frameborder="0" style="border:0" allowfullscreen></iframe>        </div>

    </section>

    <!-- footer start-->
    <% include ../partials/footer %>
    <!-- Body inner end -->
</div>
<% include ../partials/footer-script %>
</body>

</html>